{% 
  set event = {
      'title' : 'Conference'
    , 'id'    : 'talks'
    , 'blurb' : '50p conference spans over two days, which feature a single track on both days. Its a new conference on the payments landscape, with a choice of topics bridging the gap between developers and business, merchants, banks and regulators.'
    , 'when'          : '22 - 23 September 2016'
  }
%}
{% from theme("data/conference-schedule.html") import schedule as schedule %}
{% if schedule is defined %}
  {% 
    set nav = [
      {
          'display' : 'Schedule'
        , 'link'    : 'conference#schedule'
      }
      , {
          'display' : 'Talks'
        , 'link'    : 'conference#sessions'
      }
      , {
          'display' : 'Venue'
        , 'link'    : 'conference#conference-venue'
      }
    ] 
  %}
{% else %}
  {% 
    set nav = [
        {
          'display' : 'Talks'
        , 'link'    : 'conference#sessions'
      }
      , {
          'display' : 'Venue'
        , 'link'    : 'conference#conference-venue'
      }
    ] 
  %}
{% endif %}

{% from theme("data/sessions.html") import talks, types %}
{% 
  set session = {
      'id'    : 'sessions'
    , 'label' : 'Talks'
    , 'link'  : 'conference#sessions'
    , 'list'  : talks.values()
    , 'types' : types
  }
%}
