{%
  set venue = {
      'title'       : 'Vidyalankar School Of Information Technology'
    , 'subtitle'    : 'Wadala East'
    , 'poster'      : 'https://images.hasgeek.com/embed/file/e1ebc28f3acd4a57906a7f615e73c007'
    , 'address'     : 'Vidyalankar School of Information Technology,<br/>Vidyalankar Educational Campus, Vidyalankar Marg,<br/>Wadala (East), Deen Bandhu Nagar,<br/>Mumbai.<br/>Phone: 022-24161126'
    , 'map'         : {
        'osm'       : {
            'label' : 'Vidyalankar School Of Information Technology'
          , 'zoom'  : 14
          , 'marker': '19.021243,72.868333'
        }
      , 'google'    : 'http://hsgk.in/2nhiEnl'
    }
    , 'city'        : {
          'title'       : 'Mumbai'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Mumbai'
            , 'zoom'    : 3
            , 'marker'  : '19.021243,72.868333'
          }
        }
        , 'address'     : 'Mumbai<br>Maharashtra<br>India'
    }
    , 'directions'  : [
        {
          'from'      : 'Airport'
        , 'route'     : '<p>The Bombay Stock Exchange is one of the most iconic buildings in Mumbai. Housed right at the center of the financial capital of India, BSE is around 24 kms from the airport. In peak hours, it can take up to 2 hours to reach the venue. During non-rush hours, you can get to the venue within 1 hours. Mumbai is well connected with Yellow-Black taxi services (kaali-peeli) and airconditioned cabs (blue). There are also ride sharing services available like Uber and Ola which can be hailed from the designated sections at the airport. There is also an excellent local train service, connecting all parts of Mumbai.</p>'
      }
      , {
          'from'      : 'Chatrapati Shivaji Terminus railway station' 
        , 'route'     : '<p>The Bombay Stock Exchange is about a 15 minute walk from the the Chatrapati Sivaji Terminus. You can alternatively, hail a cab, which would be a 3 km ride. The Chatrapati Sivaji terminus also serves as a terminal for local trains.</p>'
      }
    ]
  }
%}
