{% 
  set event = {
    'title' : '<p>A new conference on<br> building India\'s payments ecosystem</p>',
    'date'  : '8 July 2017',
    'venue' : 'Vidyalankar School of Information Technology, Mumbai',
    'about' : {
        'leftside_blurb' : '<p>
Building reliable payment systems and services is an upcoming conference on the intersection of multiple disciplines. Linking Rootconf and 50p, the conference aims to explore the technology and minds handling payment systems and services at large. We are currently looking for talks and workshops involving payment services, banks, financial institutions, early stage startups, government agencies and  If you’re someone who is working in the payments industry and have deployed solutions for your app or service, we are accepting submissions for the first edition on 8 July, 2017 in Mumbai.
</p>

<p>The first edition of 50p left us with a few talking points </p>
<ul>
<li>How do you build payment services and systems which deal with failure in service availablity</li> 
<li>Can you overcome limitations of legacy banking systems and bring something new to the market?</li>
<li>What are the frameworks and solutions you have used or are available for building wallet apps?</li>
<li>How do we build systems and services for B2B nad B2C channels? </li>
<li>What are the ways by which you can facilitate interoperabilty and escrow services for payment systems and services? </li>
<li>What are the ways by which you can facilitate interoperabilty and escrow services for payment systems and services? </li>
<li>How do you build infrastructure that is scalable and is compliant with PCI standards?</li>
</ul>',
        'rightside_blurb': '<p><b>
Who should attend this conference?
</b></p>
<ul>
<li>Engineers</li>
<li>Businesses – whether in the payments sector or allied areas such as e-commerce.</li>
<li>Stakeholders from banking, government and regulatory sectors. </li>
<li>Members of interest groups working to promote technology, payments and startups.</li>
<li>CTOs, CEOs and CFOs.</li>
<li>Product Managers of payments systems and services</li>
</ul>
<p> <b>What you should expect from the first edition?</b></p>

<p>The first edition of 50p, our payments conference was held in January 2017 and had attendees from multiple disciplines such as lawyers, developers, policy advocates, activists and banking personnel. Building on the traction that digital payments has gathered over the past few months, this conference is a great opportunity to learn from industry experts and enthusiasts on the latest in developing for payments services.</p>

<p>This is a single-track conference consisting of talks, Birds of Feather (BoF) sessions and demos. </p>

<p>Speakers will include practitioners who have had experience working in the payments ecosystem – including working with governments, regulatory bodies and banks, and creators of technology solutions and products for payments.</p>',
        'center_blurb': '<p class="text-center space-half"><a href="http://hasgeek.us2.list-manage.com/subscribe?u=c84c1486d2d6a025417c5d146&id=47afa263c6" target="_blank" class="orange click" data-label="Sign up" data-target="HasGeek sign up page">Sign up</a> to receive updates and information about tickets, speakers, schedule and more.</p><p class="text-center space-half-bottom">For more updates, follow us on <a href="https://www.facebook.com/50pConf" target="_blank" class="orange click" data-label="Facebook" data-target="Facebook">Facebook</a>, <a href="https://twitter.com/50pConf" target="_blank" class="orange" data-label="Twitter" data-target="Twitter">Twitter</a> and <a href="https://www.youtube.com/user/hasgeek" title="Watch the latest videos from HasGeek" target="_blank" class="orange click" data-label="YouTube" data-target="YouTube">YouTube</a>.</p>'
    },
    'testimonials': [ 
        {
        'blurb': '<p>The logistics of the conference itself - wifi, videos, communication etc is as good as it gets. Kudos to your guys for running such a high quality data conference overall.</p>',
        'name': '<p>Regunath B on The Fifth Elephant 2016</p>',
        'designation': '<p>Principal Architect at Flipkart.com</p>'
        },
        {
        'blurb': '<p>The conference was wonderfully organised, the attendees and speakers were a joy to interact with and we were very happy in partnering with HasGeek.</p>',
        'name': '<p>Aparna Sridhar on droidconIN 2016</p>',
        'designation': '<p>Course Manager, Udacity</p>'
        },
        {
        'blurb': '<p>Between refreshing new lessons, business leads, potential hires and the sheer energy of the talent present at the conference, I think it was money and time well spent, even for an early stage startup as ours. We sent 11 members of our team including interns, and I\'d do it all over again without thinking twice! This is the standard of discourse we should try and maintain across any conference or event we organize, these guys at HasGeek have a thing or two to teach the rest of our tech ecosystem.</p>',
        'name': '<p>Ashwini Asokan on The Fifth Elephant 2016</p>',
        'designation': '<p>Founder and CEO, Mad Street Den</p>'
        },
        {
        'blurb': '<p>Droidcon was a great experience, with so many developers to learn from and meet. Conferences like these give you so many perspectives to look at. The most awaited part for me at the Droidcon was the Women In Tech panel discussion. We need to get more women talking about the challenges they face and how they overcome it.The conference had the Child care facility. You need to be very sensitive to think of something that is so important to parents attending the conference.</p>',
        'name': '<p>Dhatri Misra on droidconIN 2016</p>',
        'designation': '<p>Developer Evangelist, PayU</p>'
        }
    ],
    'hasgeek': '<p class="secondary link-silent"><a href="http://hasgeek.com/" target="_blank" class="white">HasGeek</a> helps people in technology meet each other, collaborate on new opportunities and advance the state of the art. We organize conferences, hacknights, workshops and geekups, and provide tools for communities to self-organize.</p>
    <p class="secondary link-silent text-left">We’ve created conferences around the themes of <a href="http://rootconf.in/" target="_blank" class="white">devops</a>, <a href="http://metarefresh.in/" target="_blank" class="white">front end engineering</a>, <a href="http://www.juliacon.in/" target="_blank" class="white">Julia</a>, <a href="http://fifthelephant.in/" target="_blank" class="white">big data and cloud computing</a>, <a href="http://jsfoo.in/" target="_blank" class="white">JavaScript</a> and <a href="http://droidcon.in/" target="_blank" class="white">Android</a>. Our <a href="http://hasjob.co/" target="_blank" class="white">Job Board</a> is used by thousands of geeks every month to find new opportunities.</p>
    <p class="secondary link-silent text-left">HasGeek is a technology company in the media business, bringing software automation to a traditionally people-intensive operation. Over the past six years, HasGeek has organized dozens of conferences attended by thousands of technology professionals, made several thousand connections, and built open source tools that are now used by many communities.</p>
    <p class="secondary link-silent text-left">All organisers, sponsors and attendees are required to follow the conference <a href="code-of-conduct" class="white">code of conduct</a>.</p>
    <p class="secondary link-silent text-center">Copyright &copy; 2010–16. All rights reserved.</p>
    <p class="secondary link-silent text-center"><a href="mailto:info@hasgeek.com">support@hasgeek.com</a> / <a href="tel:+918067684422" class="link-silent">+91-80-67684422</a></p>'
  }
%}
