{%
  set schedule = {
      'id'    : 'schedule'
    , 'date'  : '13–14 Jan 2017'
    , 'list'  : [
        {
          'slot'      : '07:00 pm',
          'title'     : 'Talk: Role of Design in Checkout Process',
          'speaker'   : 'Saurabh Soni',
          'designation': 'Product Designer at Razorpay'
        },
        {
          'slot'      : '08:00 pm',
          'title'    : 'Dinner'
        },
        {
          'slot'      : '09:00 pm',
          'title'    : 'Introduction'
        },
        {
          'slot'      : '10:00 pm',
          'title'    : 'Unocoin and Coinsecure API walkthrough'
        },
        {
          'slot'      : '11:00 pm',
          'title'    : 'Hacking time'
        },
        {
          'slot'      : '11:00 am',
          'title'    : 'Project demo'
        },
        {
          'slot'      : '12:00 pm',
          'title'    : 'Light lunch'
        }
    ]
  }
%}