{%
  set venue = {
      'title'       : 'Razorpay'
    , 'subtitle'    : 'Hosur Road'
    , 'address'     : 'Razorpay Software Private Limited<br>1st Floor, 22, SJR Cyber, Laskar Hosur Road, Adugodi, Bengaluru, Karnataka 560030<br>'
    , 'poster'    : 'https://images.hasgeek.com/embed/file/9bb9057889484d72b21f988fb3ed1692'
    , 'map'         : {
        'osm'       : {
            'label' : 'Razorpay'
          , 'zoom'  : 14
          , 'marker': '12.938922,77.6073483'
        }
      , 'google'    : 'https://goo.gl/maps/JZc2QWzPvY42'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.938922,77.6073483'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
  }
%}