{% 
  set event = {
    'runup_events': [
      {
        'title': 'An introduction to the algorithm that powers the Blockchain',
        'speaker': 'Cherry G. Mathew',
        'banner': 'https://images.hasgeek.com/embed/file/ad3a9af46b48488d9586dbd17202317b',
        'date': 'January 7, 2016',
        'time': '9am to 6pm',
        'url': '/2017/workshop',
        'featured': true,
        'venue': '<a href="https://goo.gl/maps/1b3t6ZN2mUv" target="_blank">HasGeek House</a>'
      },
      {
        'title': '50p hacknight',
        'banner': 'https://images.hasgeek.com/embed/file/8fb507a19f5142eab2f6f93c5ceed2c6',
        'date': 'January 13–14, 2016',
        'time': 'January 13, 8pm to January 14, 12pm',
        'url': '/2017/hacknight',
        'featured': true,
        'venue': '<a href="https://goo.gl/maps/JZc2QWzPvY42" target="_blank">Razorpay</a>'
      },
      {
        'title': 'GNU Taler',
        'speaker': 'Christian Grothoff',
        'banner': 'https://images.hasgeek.com/embed/file/0baae15197194474a8051610f366e1a7',
        'video_url': 'https://www.youtube.com/watch?v=wxA7qyN6MrQ',
        'date': 'December 14, 2016',
        'venue': '<a href="https://goo.gl/maps/1b3t6ZN2mUv" target="_blank">HasGeek House</a>'
      },
      {
        'title': 'Payments and authentication',
        'speaker': 'Manjula Sridhar',
        'banner': 'https://images.hasgeek.com/embed/file/eed0d6cb855f4e4f8476e2f94b654f4e',
        'video_url': 'https://www.youtube.com/watch?v=UpNujt6fup4&index=5&list=PL279M8GbNsesPYJq5Cm26cCkTXl1jboZX',
        'date': 'October 21, 2016',
        'venue': '<a href="https://goo.gl/maps/1b3t6ZN2mUv" target="_blank">HasGeek House</a>'
      },
      {
        'title': 'How payments work in India',
        'speaker': 'Abhay Rana (Nemo)',
        'banner': 'https://images.hasgeek.com/embed/file/43c992a09c104b15bd0521775c53a6b0',
        'video_url': 'https://www.youtube.com/watch?v=mG9BZfKih9w&index=4&list=PL279M8GbNsesPYJq5Cm26cCkTXl1jboZX',
        'date': 'September 27, 2016',
        'venue': '<a href="https://goo.gl/maps/1b3t6ZN2mUv" target="_blank">HasGeek House</a>'
      },
      {
        'title': 'State of payment gateways in India',
        'speaker': 'Mekin Maheshwari and Fareed Jawad',
        'banner': 'https://images.hasgeek.com/embed/file/a02250190d3941c9b74eb600048d2bfe',
        'video_url': 'https://www.youtube.com/watch?v=_deUbJTYaLQ&index=3&list=PL279M8GbNsesPYJq5Cm26cCkTXl1jboZX',
        'date': 'September 10, 2016',
        'venue': '<a href="https://goo.gl/maps/1b3t6ZN2mUv" target="_blank">HasGeek House</a>',
      }
    ]
  }
%}
