{% 
  set event = {
    'title' : '<p>Reach out to India\'s best developers and product managers</p>',
    'why_sponsor': '<p>Sponsor 50p to:</p>
                <ul class="text2">
                  <li>Get traction for your APIs and SDKs.</li>
                  <li>Recruit developers.</li>
                  <li>Build awareness for your brand.</li>
                  <li>Know the problems faced by consumers.</li>
                </ul>',
    'date'  : '8 July 2017',
    'venue' : 'BSE Auditorium, Mumbai',
    'about' : '<h2 class="text-left space-one-top nospace-bottom extralarge-prose heading">About 50p</h2>
              <p class="regular-prose">50p was a conference in January 2017 which introduced people to the whats and hows of the online payment ecosystem in India. Who are the players in the landscape? What are the risks associated with online payment gateways and wallets? Are non-cash transactions really secure? What regulations and policies to companies creating payment gateway products need to be aware of?  How do you bridge the gap between developers and businesses in the field?  What are the various SLAs that need to be navigated around? What was the effect of demonetization on the Indian economy? The conference held discussions on these and more, but with the ever dynamic Indian payment space, there is a need to address the tech and processes involved in developing and running payment systems and services.</p>
              <p class="regular-prose">The conference is a single track conference with parallel Off The Record (OTR) discussions happening.</p>
              <h2 class="text-left space-one-top nospace-bottom extralarge-prose">Who\'s speaking</h2>
              <p class="regular-prose">Our speakers are a mix of creators of payment gateway systems, developers who incorporate security features, veterans in the field of credit and debit card transaction systems, startups that integrate their gateway with online shopping carts, expert bankers, and more. These are people who speak from years of experience, failures, successes, and expert legal knowledge.</p>                  
              <h2 class="text-left space-one-top nospace-bottom extralarge-prose">Who\'s attending</h2>
              <p class="regular-prose">Attendees are typically a mix of people who: work in the space, want to make the switch to working with financial systems, are interested in the security of an app that would deal with payment transactions or are interested in understanding all the basics around payments being made online.</p>
              <h2 class="text-left space-one-top nospace-bottom extralarge-prose">Why sponsor</h2>
              <p class="regular-prose">Sponsoring HasGeek events gives you an incredible opportunity to tap into an active and engaged tech-focused audience in the startup ecosystem, giving your company unprecedented brand exposure.</p>
              <p class="regular-prose">Your brand is visible to those in the ecommerce and payment gateways space. Most of our attendees are people who work in the area and care about technology and facilitators of digital payment systems.HasGeek conferences have also always been very conducive to companies scouting for talent.</p>
              <p class="regular-prose">Your sponsorship also gives you the unique opportunity to:</p>
              <ul class="regular-prose pad-one-left">
                <li>Reach decision makers with your message.</li>
                <li>Communicate your leadership in the field.</li>
                <li>Show your commitment to the sector and its people.</li>
                <li>Leverage on our extensive social media outreach and partnerships with the region\'s top media publications to gain exposure.</li>
                <li>Our customised sponsorship options and in-event app helps you to meet and collect the contact details of your target audience in the tech ecosystem.</li>
              </ul>'
  }
%}