{%
  set schedule = {
      'id'    : 'schedule'
    , 'type'  : 'workshops'
    , 'date'  : '15th & 18th April'
    , 'list'  : [
     {
          'slot'      : '08:30 am'
        , 'title'    : 'Registrations'
      }
      , {
          'slot'      : '09:15 am'
        , 'track1'    : 'come-build-a-bloody-blockchain'
      }   
      , {
          'slot'      : '01:15 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '45 mins'
      }   
      , {
          'slot'      : '02:00 pm'
        , 'track1'    : 'come-build-a-bloody-blockchain'
      }  
    ]
  }
%}