{% 
  set event = {
      'title' : 'Workshop'
    , 'when'  : '7 Jan 2017'
    , 'blurb' : '<p>An introduction to the algorithm that powers the Blockchain</p><p>A one day workshop on building a block chain in association with <a href="http://under25summit.com/bangalore/" target="_blank" class="orange">Under25Summit</a>: Cherry G. Mathew will walk you through "The Byzantine Generals Problem", and analyze the solutions presented. Participants will be hands on with the solutions and implement them in a language and environment of their choice. The expected outcome at the end of this workshop, is that the problem solution will have been demonstrated in code, which may then be applied at participants\' leisure, in any future blockchain related technologies. </p>'  
  }
%}


{% 
  set action = ''
%}
{% from theme("data/sessions.html") import workshops, types %}
{% 
  set session = {
      'id'    : 'sessions'
    , 'label' : 'Workshops'
    , 'link'  : 'workshops#sessions'
    , 'list'  : workshops.values()
    , 'types' : types
  }
%}