{% 
  set event = {
      'title' : 'Workshop'
    , 'when'  : '7 Jan 2017'
    , 'blurb' : '<p>Come build a bloody blockchain</p><p>One-day workshop on building a block chain on 7 January in association with <a href="http://under25summit.com/bangalore/" target="_blank" class="orange">Under25Summit</a>: Cherry G. Mathew will walk you through "The Byzantine Generals Problem", understand the solution presented, and describe this solution in its application to the Blockchain. We work \'hands-on\' by writing our own implementations of this solution, in a language and environment of our choosing. The expected outcome at the end of this workshop, is that the problem solution will have been demonstrated in code, which may then be applied at participants\' leisure, in any future blockchain related technologies. </p>'  
  }
%}


{% 
  set action = ''
%}
{% from theme("data/sessions.html") import workshops, types %}
{% 
  set session = {
      'id'    : 'sessions'
    , 'label' : 'Workshops'
    , 'link'  : 'workshops#sessions'
    , 'list'  : workshops.values()
    , 'types' : types
  }
%}