{% extends theme('layouts/page.html') %}
{%
  set page = {
      'title'               : 'DevOps for digital payments'
    , 'description'         : ''
    , 'sections'            : [      
        ('event-themes',               ''),
        ('schedule',               ''),
        ('venue-summary',             ''),
        ('sponsors-summary',          'darkviolet')
    ]
  }
%}

{% block navtype %}
<div id="nav-home">
  <nav class="navbar" id="site-nav" role="navigation">
    <div>
     <!-- Brand and toggle get grouped for better mobile display -->
    
        <div class="navbar-header visible-xs">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brown semibold" href="/devpay/">50p</a>
        </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav center-block">
          <li><a class="logo-text brown hidden-xs smooth-scroll" href="#page" tabindex="0" role="button">50p</a></li>
          <li><a class="brown smooth-scroll" href="#announcements" tabindex="0" role="button">Announcements</a></li>
          <li><a class="brown smooth-scroll" href="#schedule" tabindex="0" role="button">Schedule</a></li>
          <li><a class="brown smooth-scroll" href="#venue" tabindex="0" role="button">Venue</a></li>
          <li><a class="brown smooth-scroll" href="#sponsors" tabindex="0" role="button">Sponsors</a></li>
          <li><a class="brown" href="https://blog.50p.in" tabindex="0" role="button" target="_blank">Follow Blog</a></li>
          <li><a class="brown smooth-scroll" href="#about" tabindex="0" role="button">About HasGeek</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->   
     </div>
  </nav>
</div>
{% endblock %}

{% block header %}
  {% from theme("data/event-summary.html") import event %}
  <header class="container-fluid">
    <div class="heading-text">
      <h2 class="logo-text text1">{{ event.title|safe }}</h2>
      <h3 class="text2">{{ event.venue|safe }}</h3>
      <h3 class="venue-text">{{ event.date|safe }}</h3>
    </div>
  </header>
{% endblock %}
