{% extends theme('layouts/page.html') %}
{%
  set page = {
      'title'       : 'Sponsors'
    , 'description' : 'Sponsors for 50p 2017'
    , 'sections'    : [
       ('sponsors', 'yellow')
    ]
  }
%}

{% block navtype %}
<div id="nav-home">
  <nav class="navbar" id="site-nav" role="navigation">
    <div class="container semibold">
     <!-- Brand and toggle get grouped for better mobile display -->
    
        <div class="navbar-header visible-xs">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo-text brown semibold" href="/2017/">50p</a>
        </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav center-block">
          <li><a class="logo-text brown hidden-xs" href="/2017/">50p</a></li>
          <li><a class="brown smooth-scroll" href="#sponsors">Sponsors</a></li>
          <li><a class="brown smooth-scroll" href="#about">About us</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->   
     </div>
  </nav>
</div>
{% endblock %}