{% extends theme('layouts/page.html') %}
{% from theme("data/workshop-schedule.html") import schedule %}
{%
  set page = {
      'title'       : 'Workshops'
    , 'description' : '7 Jan 2017'
    , 'sections'    : [
        ('workshop-intro',    'white')
      , ('workshop-sessions',  'brown')
      , ('tickets',                   '')
      , ('workshop-venue',  '')
      , ('sponsors-summary',   'brown')
    ]
  }
%}

{% block footerscripts %}
<style type="text/css">    
  #boxoffice-widget .boxoffice-button-action {    
    background-color: #E05F26;    
    border-color:  #B94C1D;   
    color: #fff;    
  }   
  #boxoffice-widget .boxoffice-button-info {    
    background-color: #5BC0DE;    
    border-color: #2A9CBE;    
    color: #fff;    
  }   
  #boxoffice-widget .payment-stages-bg {    
    background-color: #5d6490;    
  }   
  #boxoffice-widget .progress-indicator>li {    
    color: #fff;    
  }   
  #boxoffice-widget .category-heading {   
    background-color: #e2be74;    
    border-bottom: 3px solid #c9a866;   
    color: rgba(0,0,0,0.6);  
    line-height: 1.1;  
  }   
  #boxoffice-widget .category-heading:after {   
    border-color: #e2be74 #fff #e2be74 #e2be74;
  }
</style>    
    
<script>    
  $(function(){   
    //Boxoffice widget    
    var boxofficeUrl = "https://boxoffice.hasgeek.com";  
    $.get({   
      url: boxofficeUrl+"/api/1/boxoffice.js",
      crossDomain: true   
    }).done(function(data) {    
      var boxofficeScript = document.createElement('script');   
      boxofficeScript.innerHTML = data.script;    
      document.getElementsByTagName('body')[0].appendChild(boxofficeScript);    
      window.Boxoffice.init({   
        org: 'hasgeek',   
        itemCollection: '06c8b92e-6812-11e6-9897-b37c18073f39', 
        paymentDesc: '50p 2017'    
      });   
    }).fail(function(response) {    
      var error_msg;
      if (response.readyState === 4) {
        error_msg = "Server error, please try again later";
      }
      else if (response.readyState === 0) {
        if(!navigator.onLine) {
          error_msg = "Unable to connect. There is no network!";
        }
        else {
          error_msg = "<p>Unable to connect. If you are behind a firewall or using any script blocking extension (like Privacy Badger).<p></p> Please ensure your browser can load boxoffice.hasgeek.com, api.razorpay.com and checkout.razorpay.com</p>";
        }
      }
      $('#boxoffice-widget p').html(error_msg);
    });   
  });   
</script>
{% endblock %}