<section class="venue-home clearfix{% if background %} fill-{{ background }}{% endif %}" id="venue">
  <div class="row-fluid text-center">
    <h2 class="extralarge all-caps">{% if page_link %}<a href="{{ page_link }}" class="link-silent">{% endif %}Venue{% if page_link %}</a>{% endif %}</h2>
    <div class="leaflet-map city-level"
      data-label="{{ venue.map.osm.label }}"
      data-zoom="{{ venue.map.osm.zoom }}"
      data-marker="{{ venue.map.osm.marker }}">

      <p class="col-lg-6 legible-prose">
        {{ venue.address|safe }}
      </p>
    </div>
    <a class="button button-large" href="https://goo.gl/maps/BrkFVt77UAJ2" style="margin: 1rem;">Get Directions</a>
  </div>
</section>
