/* ========= */
/* = Theme = */
/* ========= */


a {
    color: inherit;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #fff;
}


/*  Colours  */

.black          { color: #000000 !important; }
.dark           { color: #444444 !important; }
.brown          { color: #5a3812 !important; }
.gray           { color: #AAAAAA !important; }
.dark-gray      { color: rgba(0,0,0,0.4) !important;}
.light          { color: #EEEEEE !important; }
.red            { color: #E55252 !important; }
.green          { color: #40a729 !important; }
.blue           { color: #0CA5B0 !important; }
.white          { color: #FFFFFF !important; }
.yellow         { color: #B49B33 !important; }
.orange         { color: #DF5E0E !important;}


.fill-white     { background-color: #FFFFFF !important; color: #444; }

.fill-violet { background-color: #9facd8; color: #fff;}
.fill-darkviolet { background-color: #5d6490; color: #fff;}

section {
  background: #fff url('https://images.hasgeek.com/embed/file/e635625dbf6441698323f1671bf47143') bottom center repeat-x;
  padding: 84px 0 84px 0;
}
