<section class="event-themes push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 regular-prose semibold">
        <p>After e-commerce, new products and technologies and an opening up of the banking sector are once more opening up new ways to buy and sell. HasGeek is organizing a new conference on the payments landscape, aiming to bridge the gap between developers and business, merchants, banks and regulators.</p>
        <p>As a bank, you can make your offerings more attractive to consumers.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 regular-prose semibold">
        <p>As a developer you have a chance to build the app others will come to depend on.</p>
        <p>As a merchant, you could offer buyers greater convenience and a seamless shopping experience.</p>
        <p>As a nation, we all stand to benefit through greater trade, increasing opportunity, and decreasing laundering and fraud.</p>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p class="secondary text-center">
        <a class="button space-two-top" href="https://50p.talkfunnel.com/2016/" target="_blank">Propose to speak</a>
      </p>
    </div>
    <p class="space-half text-center regular-prose semibold">Sign up to receive updates and information about tickets, speakers, schedule and more.</p>
    <form class="form-horizontal subscribe-form" id='subscribe' action="" role="form" autocomplete="off">
      <div class="text-center">
        <input type="email" class="subscribe-input" id="subscribe-email" name="subscribe-email" required placeholder="Email"/>
        <button type="submit" class="button subscribe-button">Subscribe</button>            
        <img src="{{ theme_static('img/ajax-loader.gif') }}" class="ajax-loader"/>
      </div>
    </form>
    <div class="secondary-prose text-center helptext">
      <p class="subscribe-status nospace"></p>
    </div>
  </div>
</section>
