<section id="highlights" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}" id="annoucements">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2 class="text-left space-one-top nospace-bottom extralarge-prose heading">About 50p</h2>
      <p class="regular-prose">50p is a conference that aims to familiarise people with the whats and hows of the online payment ecosystem in India. Who are the players in the landscape? What are the risks associated with online payment gateways and wallets? Are non-cash transactions really secure? What regulations and policies to companies creating payment gateway products need to be aware of?  How do you bridge the gap between developers and businesses in the field?  What are the various SLAs that need to be navigated around? What was the effect of demonetization on the Indian economy?</p>
      <p class="regular-prose">There are three tracks for the conference: identity and fraud, how payment systems work, how cash works.</p>
      <h2 class="text-left space-one-top nospace-bottom extralarge-prose">Who's speaking</h2>
      <p class="regular-prose">Our speakers are a mix of creators of payment gateway systems, developers who incorporate security features, veterans in the field of credit and debit card transaction systems, startups that integrate their gateway with online shopping carts, expert bankers, and more. These are people who speak from years of experience, failures, successes, and expert legal knowledge.</p>                  
      <h2 class="text-left space-one-top nospace-bottom extralarge-prose">Who's attending</h2>
      <p class="regular-prose">Attendees are typically a mix of people who: work in the space, want to make the switch to working with financial systems, are interested in security of an app that would deal with payment transactions or are interested in understanding all the basics around payments being made online.</p>
      <h2 class="text-left space-one-top nospace-bottom extralarge-prose">Why sponsor</h2>
      <p class="regular-prose">Sponsoring the event guarantees your presence to the people who speak and attend. Your brand is visible to those in the ecommerce and payment gateways space. HasGeek conferences have always been very conducive to companies scouting for talent.</p>
    </div>
  </div>
</section>
