<section class="event-themes push-two space-one-top clearfix{% if background %} fill-{{ background }}{% endif %}" id="announcements">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 regular-prose semibold">
        <p>Change is in the air.  After e-comm, newer ways of buying and selling are opening up through new products targeting a more open banking sector, courtesy the RBI. People's phones haven’t replaced their wallets, but big money’s being wagered on that happening within the next few years.</p>
        <p>You'd still have to navigate a maze of regulations, and at least one SLA.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 regular-prose semibold">
        <p>There’s opportunity here - and risk. It pays to have a good understanding of how it all works before committing to a new technology, product, or partner.</p>
        <p>That's why HasGeek is organizing a new conference on the payments landscape, aiming to bridge the gap between developers and business, merchants and consumers, and banks and regulators. Come, learn and share.</p>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p class="tiny text-center space-one">
        <a class="button gap-1q" href="https://50p.talkfunnel.com/2016/" target="_blank">Propose to speak</a>
        <a class="button gap-1q" href="/2016/sponsor">Become a sponsor</a>
      </p>
    </div>
    <p class="space-half text-center regular-prose semibold">Sign up to receive updates and information about tickets, speakers, schedule and more.</p>
    <form class="form-horizontal subscribe-form" id='subscribe' action="" role="form" autocomplete="off">
      <div class="text-center">
        <input type="email" class="subscribe-input" id="subscribe-email" name="subscribe-email" required placeholder="Email"/>
        <button type="submit" class="button subscribe-button">Subscribe</button>            
        <img src="{{ theme_static('img/ajax-loader.gif') }}" class="ajax-loader"/>
      </div>
    </form>
    <div class="secondary-prose text-center helptext">
      <p class="subscribe-status nospace"></p>
    </div>
    <p class="secondary text-center space-one-bottom">For more updates, follows us on <a href="https://www.facebook.com/50pConf" target="_blank" class="orange">Facebook</a>, <a href="https://twitter.com/50pConf" target="_blank" class="orange">Twitter</a> and <a href="https://www.youtube.com/user/hasgeek" title="Watch the latest videos from HasGeek" target="_blank" class="orange">YouTube</a>.</p>
  </div>
</section>
