<section class="event-themes push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 regular-prose semibold">
      <p>
      After e-commerce, digital payments are again changing the way we buy and sell. As a merchant, you need good software to keep your customers happy. As a developer you have a chance of building the app others will come to depend on.</p><p>HasGeek is organizing a new conference on the payments landscape, with a choice of topics bridging the gap between developers and business, merchants, banks and regulators.<p></p>We are now accepting submissions around the theme of digital payments. 
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 regular-prose semibold">
      <p> 
        <a target="_blank" href="https://hasgeek.com/" >HasGeek</a> helps people in technology meet each other, collaborate on new opportunities and advance the state of the art. We organize conferences, hacknights, workshops and geekups, and provide tools for communities to self-organize.
      </p>
      <p>
        We’ve created conferences around the themes of <a target="_blank" href="https://rootconf.in/" >devops</a>, <a target="_blank" href="https://metarefresh.in/" >front end engineering</a>, <a target="_blank" href="https://www.juliacon.in/" >Julia</a>, <a target="_blank" href="https://fifthelephant.in/" >big data and cloud computing</a>, <a target="_blank" href="https://jsfoo.in/" >JavaScript</a> and <a target="_blank" href="https://droidcon.in/" >Android</a>. Our <a target="_blank" href="https://hasjob.co/" >Job Board</a> is used by thousands of geeks every month to find new opportunities.
      </p>
      <p>
        HasGeek is a technology company in the media business, bringing software automation to a traditionally people-intensive operation. Over the past six years, HasGeek has organized dozens of conferences attended by thousands of technology professionals, made several thousand connections, and built open source tools that are now used by many communities.
      </p>
    </div>
  </div>
  <br>
  <!--
  <div class="row-fluid container">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 regular-prose semibold adjust-right">
      <div class="button button-blue">
        <a href="/2014/angularjs-miniconf"><div class="bold">AngularJS Miniconf</div></a>
        <div class="secondary-prose all-capitalize">11 February</div>
        <a href="/2014/angularjs-miniconf#miniconf-venue"><div class="tiny all-capitalize"><i class="icon-map-marker"></i>&nbsp;The Energy and Research Institute (TERI), Bangalore</div></a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 regular-prose semibold adjust-center">
      <div class="button button-on-blue">
        <a href="/2014/workshops"><div class="bold">Workshops</div></a>
        <div class="secondary-prose all-capitalize">12-13 February</div>
        <a href="/2014/venue#workshop-venue"><div class="tiny all-capitalize"><i class="icon-map-marker"></i>&nbsp;The Energy and Research Institute (TERI), Bangalore</div></a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 regular-prose semibold adjust-left">
      <div class="button">
        <a href="/2014/conference"><div class="bold">Conference</div></a>
        <div class="secondary-prose all-capitalize">14-15 February</div>
        <a href="/2014/venue#conference-venue"><div class="tiny all-capitalize"><i class="icon-map-marker"></i>&nbsp;MLR Convention Centre, JP Nagar, Bangalore</div></a>
      </div>
    </div>
  </div>
-->
</section>
