<section id="proposals" class="push-two space-one-top clearfix{% if background %} fill-{{ background }}{% endif %}">
  <h2 class="calm centered large text-center">Proposals</h2>
  <div id="funnel-proposals">
    <p class="text-center">Loading...</p>
    {%raw%}
    <script id="proposals-wrapper" type="text/ractive">
      <div class="proposals">
      <div class="mCustomScrollbar" data-mcs-theme="dark">
        {{#proposals}}
          <div class="proposal-card click" data-toggle="modal" data-target="#{{id}}" data-label="Funnel proposal card">
            <div class="talk">
              <p class="title"><span>{{title}}</span></p>
              <hr class="separator">
              <div class="description">
                {{{objective}}}
              </div>
              <p class="fullname"><span>{{fullname}}</span></p>
            </div>
          </div>
        {{/}}
      </div>
      </div>
      {{#proposals}}
      <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title">{{title}}</h3>
            </div>
            <div class="modal-body">
              <h4 class="modal-description-title">Outline</h4>
              <div class="modal-description">{{{description}}}</div>
              <h4 class="modal-description-title">Abstract</h4>
              <div class="modal-description">{{{objective}}}</div>
            </div>
            <div class="modal-footer">
              <a type="button" class="btn btn-primary" href="{{url}}" target="_blank" data-target="{{url}}" data-label="Vote">Vote</a>
              <a type="button" class="btn btn-primary" href="{{url}}/#comments" target="_blank" data-target="{{url}}/#comments" data-label="Discuss">Discuss</a>
            </div>
          </div>
        </div>
      </div>
      {{/}}
    </script>
    {%endraw%}
  </div>
  <div class="text-center space-one">
    <p class="secondary text-center">Been working on something interesting lately?</p>
    <a class="button gap-1q text-center secondary" href="https://50p.talkfunnel.com/2017/" target="_blank">Propose to speak</a>
  </div>
</section>
