{% from theme("data/event-summary.html") import event %}
<section id="testimonials" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}" id="annoucements">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2 class="extrabold space-two-top space-one-bottom">Testimonials</h2>
      {% for testimonial in event.testimonials  %}
      <div class="speech-bubble">
        <blockquote class="rectangle-speech-border">
          {{ testimonial.blurb|safe }}
        </blockquote>
        <p class="attendee blue nospace">{{ testimonial.name|safe }}</p>
        <p class="attendee blue nospace">{{ testimonial.designation|safe }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
