<section id="tickets" class="push-two space-one-top clearfix pad-one{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="panel panel-default offer-banner">
      <span class="banner-ribbon"></span>
      <div class="panel-body">
        <p class="secondary-prose nospace">The payments ecosystem in India is moving fast; it's vital for businesses to keep up to date. We want to help keep you abreast of the latest even after the conference. And we think reading <a href="https://the-ken.com" class="orange click" target="_blank">The Ken</a> is definitely useful to that effect. They publish insightful and in-depth stories around Indian startups (see <a class="orange click" href="https://the-ken.com/illustrated-guide-indian-food-tech-part-1/" target="_blank">An Illustrated Guide to Indian Food-Tech</a> for example) and the surrounding business ecosystem. When you buy a ticket to <b>50p</b>, you'll get a discount voucher worth Rs 250 that you can use for your subscription to The Ken.</p>
      </div>
    </div>
  </div>

  <h2 class="calm centered large text-center">Tickets</h2>
  
  <div id="boxoffice-widget" class="regular"><p class="text-center">Loading...</p></div>
  </br>
</section>
